.products_grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4rem;
  padding: 2rem 6rem;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  list-style: none;
}
