.main {
  width: 100%;
  height: 99vh;
  /* overflow: hidden; */
}

.cartContainer {
  display: flex;
  flex-direction: column;
}

.cartHeader {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem 4rem;
  background: url("../../../public/background_header_cart.png");
}

.cartContent {
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: calc(100vh - 6rem - 4rem);
  overflow: hidden;
}

#title {
  color: #000;
  font-family: Poppins;
  font-size: clamp(2.5rem, 3vw, 3rem);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.summary {
  display: flex;
  padding: 28px 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  flex-shrink: 0;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
  justify-content: center;
}

#title_summary {
  color: var(--color-primary-gold);
  font-size: clamp(1.25rem, 3vw, 1.7rem);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

#row_text {
  color: rgba(0, 0, 0, 0.692);
  font-size: clamp(1.1rem, 3vw, 1.25rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#row_price {
  color: var(--color-primary-gold);
  font-size: clamp(1.1rem, 3vw, 1.25rem);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.row_summary {
  display: flex;
  flex-direction: column;
  width: 100%;
  list-style: none;
  gap: 1rem;
  padding: 1rem;
  border-bottom: 1px rgba(0, 0, 0, 0.322) solid;
}

.row_summary li {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

#total_summary {
  display: flex;
  width: 100%;
  padding: 1rem;
  justify-content: space-between;
}

#text_total {
  font-size: clamp(1.1rem, 3vw, 1.25rem);
  color: rgba(0, 0, 0, 0.692);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#price_total {
  color: var(--color-primary-gold);
  font-size: clamp(1.1rem, 3vw, 1.25rem);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

#button_summary {
  display: flex;
  height: 60px;
  padding: 16px 54px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  flex-shrink: 0;
  align-self: stretch;
  border-radius: 62px;
  background: var(--color-primary-gold);
  color: #fff;
  font-size: clamp(1rem, 3vw, 1.25rem);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: none;
}

.itemsList {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  padding-right: 1rem;
  max-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.itemsList::-webkit-scrollbar {
  display: none;
}
.emptyMain{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.emptyContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.emptyIllustration{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.emptyIllustration img{
  width: 150px;
  height: 150px;
}
.emptyTitle{
  font-size: clamp(.9rem, 3vw, 1.15rem);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.emptyButton{
  display: flex;
  height: 60px;
  padding: 16px 54px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  flex-shrink: 0;
  align-self: stretch;
  border-radius: 62px;
  background: var(--color-primary-gold);
  color: #fff;
  font-size: clamp(.8rem, 3vw, 1rem);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: .44px;
  border: none;
  cursor: pointer;
  transition: .3s;

}
.emptyButton:hover{
  background: #fff;
  border: 1px solid var(--color-primary-gold);
  color: var(--color-primary-gold); 
  transition: .3s;
}
.emptyButton:active{
  background: #fff
}
@media (min-width: 821px) {
  .cartContent {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    height: auto;
  }
  .itemsContain{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;
  }

  .itemsList {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    max-height: 70vh;
    overflow-y: auto;
    padding-bottom: 2rem;
    padding: 1rem;
    width: 80%;
  }
.itemsList li{
  width: 100%;
}
  .summary {
    position: sticky;
    top: 2rem;
    align-self: flex-start;
    width: 505px;
    max-height: 458px;
  }
}

@media (width: 820px) {
  .itemsList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}